.header-desktop-container {
    width: 60px;
    padding: 30px 17px;
    box-shadow: 0 0 5px var(--box-shadow-color);
    position: absolute;


    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;



    }

    svg {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    .settings-icon {
        position: absolute;
        bottom: 30px;
    }
}